* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primaryColor: crimson;
body {
  font-family: poppins;
}
html {
  scroll-behavior: smooth;
}
ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.section-title {
  font-size: 50px;
  text-transform: uppercase;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}
section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
