header{
    position:absolute;
    top:0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 35px 100px 0;
    h2{
        text-transform: uppercase;
    }
    nav{
        display: flex;
        li{
            margin: 0 15px;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}



@media (max-width:1000px) {
    header{
        padding: 20px 50px;
    }
}
@media (max-width:700px) {
    header{
        flex-direction: column;
        h2{
            margin-bottom: 15px;
        }
        li{
            margin: 0 7px;
        }
    }
}