#services {
  background-color: #ddd;
  .services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .box {
      padding: 0 30px;
      flex-basis: 33%;
      text-align: center;
      i {
        font-size: 50px;
        color: crimson;
        margin-top: 50px;
        margin-bottom: 25px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 25px;
      }
      p {
        margin: 0;
      }
    }
  }
}
@media (max-width: 1000px) {
  .box {
    flex-basis: 100% !important;
    padding: 8px;
    margin-bottom: 65px;
    //   display: none;
    &:last-child{
        margin-bottom: 0px;
    }
    p {
      padding: 0;
    }
  }
}
